{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'files/base.css' %}">
    <title>Blood Bank</title>
  </head>
  <body class="bg-danger p-2 text-white bg-opacity-75">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="#" id="bbname">Blood Bank</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="home" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="search">Search</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Complaints
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!--<li><a class="dropdown-item" href="">Doner From</a></li>-->
                  <li><a class="dropdown-item " href="complaint">Complaints Forms</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item " href="complaintlist">View All Complaints</a></li>
                </ul>
              </li>
              {% if 'Admin' in request.session.utype %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Blood Bank Form
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!--<li><a class="dropdown-item" href="">Doner From</a></li>-->
                  <li><a class="dropdown-item" href="form">Blood Bank Form</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="bbdetails">Blood Bank Details</a></li>
                </ul>
              </li>
             {% endif %}
             {% if 'Bloodbank' in request.session.utype %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Donor Form
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!--<li><a class="dropdown-item" href="donerform">Doner From</a></li>-->
                  <li><a class="dropdown-item" href="donerform">Donor From</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="donordata">Donor Details</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Recivers Form
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!--<li><a class="dropdown-item" href="donerform">Doner From</a></li>-->
                  <li><a class="dropdown-item" href="reciverform">Recivers Form</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="reciverdata">Recivers Details</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
            <p style="margin-right:100px;margin-top:15px;color:white">{{ request.session.user_name }}</p>
              {% if request.session.user_name %}
              <a href="login"><button class="btn btn-primary" type="submit" id="btnSearch">Logout</button></a>
              {% else %}
              <a href="login"><button class="btn btn-primary" type="submit" id="btnSearch">Login</button></a>
              {% endif %}
            </div>
        </div>
      </nav>
      {% block body %}
      
      
      {% endblock body %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>